.app{
  margin:15;
  padding:15;
}
ul{
  display: flex;
  flex-direction: column;
  text-align: start;
}

li{
  padding: 10px;
  background-color: #e0dfdf;
  border: 1px solid gray;
  list-style-type: none;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
input{
    margin: 15px 0;
    line-height: 2;
    background-color: #f2f1f1;
    border: 2px solid #00BCD4;
}
.add-cate{
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
}
.btn{
  line-height: 2;
  background-color: cornflowerblue;
  border: 1px solid gray;
  max-width: 111px;
  margin-bottom: 15px;
  cursor: pointer;
}